:root {
	font-size: 18px;
	--border-type: solid;
	--border-size: 1px;
	--border-color: #373a44;
	--border-radius: 1rem;

	--content-max-width: 60rem;
	--h-uni-padding: .8rem;
	--v-uni-padding: .2rem;

	--fg: #bbc2cf;
	color: var(--fg);
	--fg-emph: #fff;
	--fg-faded: #aaa;
	--fg-button: var(--fg-faded);
	--fg-link: #abf;
	--fg-code: #ffbe85;

	--bg: #272a34;
	--bg-dark: #161f27; 

	--trans-time: .2s;
}

* {
	box-sizing: border-box;
	font-family: "IBM Plex Mono", monospace;
	padding: 0;
	margin: 0;
}

html {
	background: var(--bg);
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: var(--content-max-width); 
}

a {
	color: var(--fg-link);
	text-decoration: none;
	transition: var(--trans-time) opacity;
}

a:hover {
	opacity: .4;
}

h1, h2, h3, h4, h5, em {
	color: var(--fg-emph);
}
p {
	margin: .5rem 0;
}


